# See http://help.github.com/ignore-files/ for more about ignoring files.

**/.env

.venv

backend/.venv
backend/.env
# Compiled output
frontend/dist
frontend/tmp
frontend/out-tsc
frontend/bazel-out

# Node
frontend/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
frontend/.angular/cache
.sass-cache/
frontend/connect.lock
frontend/coverage
frontend/libpeerconnection.log
testem.log
frontend/typings

# System files
.DS_Store
Thumbs.db
main/merkle_tree
main/.index_cache
main/.last_sync

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Backend
*.pyc
dump.rdb
*.sw*

# Pyenv
.python-version

# Backend logs
backend/logs/
.vercel
